<%- include("../partials/header") %>
<div class="ui main text container segment">
    <div class="ui huge header">Edit <%= blog.title %> </div>
    <form class = "ui form" action="/blogs/<%= blog._id%>?_method=PUT " method="POST" enctype="multipart/form-data">
        <div class="field">
            <label>Title</label>
            <input type="text" name="blog[title]" value="<%= blog.title %>" required >
        </div>
        <div class="field inline">
            <label for="">Image Type</label>
            <select class="ui dropdown" id="cases">
                <option value="">Choose</option>
                <option value="Upload">Upload</option>
                <option value="URL">URL</option>
            </select>
            <div class = "hidden" id="Upload">
                <label for="imageUpload">Image Upload</label>
                <input type="file" id="upl" name="image" accept="image/*">
            </div>
            <div class="hidden" id="URL">
                <label for="imageURL">Image URL</label>
                <input type="url" id="url" name="blog[image]" value="<%= blog.image %> ">
            </div>
            
        </div>
        <div class="field">
            <label>Blog Content</label>
            <textarea name="blog[body]" required><%= blog.body %></textarea>    
        </div>
        <div class="ui centered grid">
            <input class="ui green basic big button" type="submit">
        </div>
    </form>    
</div>
<script>
    $('.hidden').hide()
    console.log($('hidden'));
    $('#cases').change(function () {
        var value = this.value;
        $('.hidden').hide()
        $('#' + this.value).show();
    
    });
</script>
<%- include("../partials/footer") %> 
