
<%- include("../partials/header") %>


<div class="ui  main text container" style="width:400px">
    <div class="ui centered grid huge text header" style="margin-bottom: 15px;">Followers (<%= followerList.length %> )</div>
    <div class="ui top attached segment">
        <div class="ui centered divided items" >
            <% followerList.forEach((follower) => { %>
                <div class="item">
                    <div class="image" style="width:100px;" id="marginise" >
                        <img class="followerIm" src="<%= follower.image %> " >
                    </div>
                    <div class="content"style="margin:auto auto; padding-left:20px; " >
                        <div class="top" >
                            <a class="ui header" ><%= follower.username %></a>
                        </div>
                        <div class="description ">
                            <p><%= follower.firstName %> <%= follower.lastName %></p>
                        </div> 
                        <div class="extra" >
                            <a class="ui floated tiny basic violet button" href="/users/<%= follower.id%> ">
                                Go to Profile<i class="right chevron icon" id="r_icon"></i></a>
                        </div>
                    </div>
                </div>    
            <% }); %>     
        </div>
    </div>
</div>



<%- include("../partials/footer") %>